
<div class="section portfolio-section">
 
  <div class="container-fluid">
    <div class="row mb-5 no-gutters">
     
  
      <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="200">
      <button (click)="citychooser('TCR')" style="border:none;padding: 0;background: none;"  value="tcr"  class="work-thumb">
          <div class="work-text">
            <h2>Trissur</h2>
            <p>ICT ACADEMY-CENTRAL REGION</p>
          </div>
          <img src="https://www.keralatourism.org/images/festivals/large/20170330115924_321_1.jpg"   width="1000px" alt=" tcr Image" class="img-fluid">
        </button>
      </div>
  
      <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="300">
        <button (click)="citychooser('CLT')"  value="clt" button style="border:none;padding: 0;background: none;" class="work-thumb">
          <div class="work-text">
            <h2>kozhikode</h2>
            <p>ICT ACADEMY-NORTH REGION</p>
          </div>
          <img src="https://www.keralatourism.org/images/destination/large/kozhikode_beach20150811065516_256_1.jpg" width="1000px" alt="clt Image" class="img-fluid">
        </button>
      </div>
       <div  class="col-sm-6 col-md-6 col-lg-6" data-aos="fade"  data-aos-delay="100">
        <button (click)="citychooser('TVM')" ngModel=city.name value="tcr" style="border:none;padding: 0;background: none;"  class="work-thumb">
          <div class="work-text">
            <h2>Trivandrum</h2>
            <p>HQ & ICT ACADEMY-SOUTH REGION</p>
          </div>
          <img src="https://keralatourism.travel/images/places-to-visit/headers/attukal-bhagavathy-temple-trivandrum-tourism-entry-fee-timings-holidays-reviews-header.jpg" width="1000px" alt=" tvm Image" class="img-fluid">
        </button>
      </div>
  
      
    </div>
    
    <div class="row mt-5">
      <div class="col-12 text-center">
        <p><a href="portfolio.html" class="btn btn-outline-white px-4 py-3">More Portfolio</a></p>
      </div>
    </div>
  </div>
  </div>